<nav>
  <mat-toolbar color ="primary" class="nav-top">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" routerLink="/index">
          <mat-icon>house</mat-icon>
        </button>

        <span>Mi doctor</span> 
        <span class="example-spacer"></span>

        <div class="nav-container-right">
          <button type="button" mat-icon-button class="example-icon" routerLink="/med-portal">
            <a>Iniciar sesion</a>
            <mat-icon>login</mat-icon>
          </button>
          <button type="button" mat-icon-button class="example-icon" routerLink="/apply">
            <a>Aplicar ahora</a>
            <mat-icon>addchart</mat-icon>
          </button>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>  
</nav>
