<nav>
  <mat-toolbar color ="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>

        <span>Mi doctor</span> 
        <span class="example-spacer"></span>

        <button mat-icon-button class="example-icon">
          <span>Iniciar sesion</span>
          <mat-icon>login</mat-icon>
        </button>
        <button mat-icon-button class="example-icon">
          <span>Aplicar ahora</span>
          <mat-icon>addchart</mat-icon>
        </button>

    </mat-toolbar-row>
  </mat-toolbar>  
</nav>

