<div fxLayout="row" fxLayoutAlign="space-around strech" class="agenda-config-content">    
  <div fxFlex="50" class="example">
    <mat-card>
       <mat-card-title>Configuracion de Agendas</mat-card-title>
       <mat-card-content>
         <form [formGroup]="agendaForm">
         <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="40">            
            <mat-label>Alias*</mat-label>
            <br/>
            <input matInput formControlName="alias" type="text" placeholder="Horario de día" required>
            <mat-error *ngIf="hasError('alias', 'required')">Los campos * son requeridos.</mat-error>
          </div>
          <div fxFlex="40">
            <mat-label>Costo por Consulta*</mat-label>
            <br/>
            <input matInput formControlName="price" type="number" placeholder="500lp" required>
          </div>
         </div>
         <br/>
         <mat-card-subtitle>Lugar de atencion</mat-card-subtitle>
         <div  formGroupName="address" fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="30">
            <mat-label>Nombre*</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Hospital Regional" required>
          </div>

          <div fxFlex="30">
            <mat-label>Direccion*</mat-label>
            <input matInput formControlName="street" type="text" placeholder="bolevard del norte." required>
          </div>

          <div fxFlex="30">
              <mat-label>Telefono</mat-label>
              <br/>
              <input matInput formControlName="phone" type="tel" placeholder="Tel:25500000" minlength="8">
          </div>
         </div>

         <br/>
         <div fxLayout="row" fxLayoutAlign="start center">
           <div fxFlex="30">
             <mat-form-field>
                <mat-label>Intervalo entre citas</mat-label>
                <mat-select formControlName="intervalSelected">
                 <mat-option 
                   *ngFor="let i of interval"
                   [value]="i">
                     {{i.label}}
                 </mat-option>
                </mat-select>
             </mat-form-field>
           </div>

           <div fxFlex="20" fxFlexOffset="10">
              <button mat-flat-button class="exception-button" color="primary">
                Nueva Excepcion
              </button>
           </div>

           <div fxFlex="auto" fxFlexOffset="8" class="exception-container">
            <div *ngFor="let exp of exceptionSource" class="exception-content">
              {{exp.date}}/{{exp.month}}
            </div>
           </div>
         </div>
        </form>

         <mat-card-subtitle>Horario de Atencion</mat-card-subtitle>
         <div fxLayout="row" fxLayoutAlign="start">
           <div>
            <div fxLayout="row">
              <div class="workdays-container">
                <div fxFlex="auto">
                  <mat-label class="workdays-header-container">Hora</mat-label>
                  <div *ngFor="let hour of dataSource;" class="hour-container">
                      {{hour.label}}
                  </div>
                </div>

                <div fxFlex="auto">
                    <mat-label class="workdays-header-container">Lunes</mat-label>
                    <div *ngFor="let workday of dataSource;" (click)="selectedMhour($event, workday)"
                      [ngClass]="{'day-container': !workday.m, 'day-container-selected': workday.m}">
                    </div>
                </div>

                <div fxFlex="auto">
                    <mat-label class="workdays-header-container">Martes</mat-label>
                    <div *ngFor="let workday of dataSource;" (click)="selectedThour($event, workday)"
                      [ngClass]="{'day-container': !workday.t, 'day-container-selected': workday.t}">
                    </div>
                </div>

                <div fxFlex="auto">
                    <mat-label class="workdays-header-container">Miercoles</mat-label>
                    <div *ngFor="let workday of dataSource;" (click)="selectedWhour($event, workday)"
                      [ngClass]="{'day-container': !workday.w, 'day-container-selected': workday.w}">
                    </div>
                </div>

                <div fxFlex="auto">
                    <mat-label class="workdays-header-container">Jueves</mat-label>
                    <div *ngFor="let workday of dataSource;" (click)="selectedRhour($event, workday)"
                      [ngClass]="{'day-container': !workday.r, 'day-container-selected': workday.r}">
                    </div>
                </div>

                <div fxFlex="auto">
                    <mat-label class="workdays-header-container">Viernes</mat-label>
                    <div *ngFor="let workday of dataSource;" (click)="selectedFhour($event, workday)"
                      [ngClass]="{'day-container': !workday.f, 'day-container-selected': workday.f}">
                    </div>
                </div>

                <div fxFlex="auto">
                    <mat-label class="workdays-header-container">Sabado</mat-label>
                    <div *ngFor="let workday of dataSource;" (click)="selectedShour($event, workday)"
                      [ngClass]="{'day-container': !workday.s, 'day-container-selected': workday.s}">
                    </div>
                </div>
                
                <div fxFlex="auto">
                    <mat-label class="workdays-header-container">Domingo</mat-label>
                    <div *ngFor="let workday of dataSource;" (click)="selectedUhour($event, workday)"
                      [ngClass]="{'day-container': !workday.u, 'day-container-selected': workday.u}">
                    </div>
                </div>
              </div>
            </div>
             <!-- <mat-slide-toggle [(ngModel)]="isChecked">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle> -->
           </div>
         </div>
         <br/>

         <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-fab color="primary" [disabled]="!agendaForm.valid" (click)="addAgenda()">
                <mat-icon>add_task</mat-icon>
            </button>
         </div>

       </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="40" class="agenda-container">
    <div *ngIf="agendaSource.length == 0">
      <mat-card>
        <mat-card-title>No se encontraron agendas configuradas</mat-card-title>
        <mat-card-content style="text-align: center">
          <mat-icon class="bad-icon">mood_bad</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="agendaSource.length > 0">
      <div *ngFor="let ags of agendaSource" class="agenda-content">
        <mat-card>
          <mat-card-title>{{ags.alias}}</mat-card-title>
          <mat-card-content>
            <div fxLayout="row">
              <div fxFlex="10">
                {{ags.price}} lp.
              </div>

              <div fxFlex="auto" fxFlexOffset="10">
                {{ags.place.name}}
              </div>

              <div fxFlex="10">
                <button mat-mini-fab color="warn" (click)="removeAgenda($event, ags)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div fxFlex="10">
                <button mat-mini-fab class="edit-button" >
                  <mat-icon>mode_edit_outline</mat-icon>
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
