.agenda-config-content {
  margin: 10px 0px;
  min-width: calc(190vh - 0em);
}

.example {
  min-height: 250px;
  border-radius: 3px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.mat-card [type="number"] {
    max-width: 50px;
}

.mat-card [type="tel"] {
    max-width: 100px;
}

input {
  font-weight: lighter;
  border-bottom: dotted 1px #00bcd4;
}

.exception-button {
  border-radius: 25px;
  font-size: 12px;
}

.exception-container {
  display: flex;
  overflow-x: scroll;
  max-width: 150px;
}

.exception-content {
  text-align: center;
  padding: 2px 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(253, 252, 161);
  border-radius: 12px;
}

.workdays-container {
    max-width: 480px;
    height: 250px;
    overflow-y: scroll;
}

.workdays-header-container {
  margin-right: 5px;
}

.day-container {
  width: 31px;
  height: 20px;
  background-color: rgb(218, 218, 218);
  text-align: center;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 2px;
}

.day-container-selected {
  width: 31px;
  height: 20px;
  background-color: forestgreen;
  text-align: center;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 2px;
}

.hour-container {
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  text-align: left;
}

.agendas-container {
  max-height: 250px;
}

.agenda-content {
  margin-bottom: 0.5em;
}

.bad-icon {
  font-size: 4em;
}

.edit-button {
  color: #ffff;
  background-color: rgb(250, 186, 67);
}
