
.perfil-container {
  height: auto;
  min-width: 550px;
  padding: 15px 15px;
}

.docto-avatar{
  vertical-align: text-top;
  width: 55px;
  height: 60px;
  margin-left: 1em;
  border-radius: 50%;
}

textarea {
  width: 270px;
  height: 80px;
  outline: none; 
  border: 1px solid #888; 
  border-radius: 2px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

mat-card {
  overflow-wrap: break-word;
}

mat-icon {
  position: absolute;
  padding: 1px 1px;
  margin: 1px 2px;
  font-size: 15px;
}